body {
  margin: 0;
  padding: 1vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #5376b3;
}

.title {
  text-align: center;
  font-size: 3.25rem;
}

.canvas {
  position: absolute;
  /* width: 500px; */
  /* height: 100%; */
  margin: 15vh auto;
  left: 0;
  right: 0;
}

@media only screen and (max-width: 600px) {
  .title {
    font-size: 2rem;
  }
}
